#i1{
    background-color: #f0f0f0;
    color: red;
    height: 100px;
    border: 2px solid red;
}
#i2{
    background-color: #f0f0f0;
    color: green;
    height: 50px;
    border: 2px solid red;
}
#i3{
    background-color: #f0f0f0;
    color: blue;
    height: 100px;
    width: 30%;
    border: 2px solid red;
}
#i4{
    background-color: #f0f0f0;
    color: blue;
    height: 100px;
    width: 33%;
    border: 2px solid red;
    margin: 10px;
}
#i5{
    background-color: #f0f0f0;
    color: blue;
    height: 100px;
    width: 35%;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}
#i6{
    background-color: #f0f0f0;
    color: blue;
    height: 80px;
    width: 100%;
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}


